<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- DB Info -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Connection Info -->
		<property name="hibernate.connection.url">
			jdbc:mysql://127.0.0.1:5555/Cyber_World_DB
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			rootpassword
		</property>

		<!-- List of XML mapping files -->
		<mapping class="FireEngine.Characters.Player.Player_Character" />
		<mapping class="FireEngine.Characters.Player.PC_Settings" />
		<mapping class="FireEngine.Characters.Condition.PC_Condition" />
		<mapping class="FireEngine.Characters.Condition.Level" />
		<mapping class="FireEngine.Characters.Condition.Health" />
		<mapping class="FireEngine.Characters.Condition.Mana" />

		<mapping class="FireEngine.gameworld.maps.GameMap" />
		<mapping class="FireEngine.gameworld.maps.BaseRoom" />
		<mapping class="FireEngine.gameworld.maps.Base_Room_Exit" />
	</session-factory>
</hibernate-configuration>